@use '../custom' as *;

.project{
    padding: 4rem 0;
    background-color: $secondary;
    width: 100%;
    height: 100%;
}
.project-box{
    position: relative;
    width: 100%;
    height: 100%;
}