@use '../custom' as *;

.skills-section{
    background-color: $secondary;
    padding: 3rem 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.skills-2{

    &__content{

        .icon{
            max-width: 50%;
            max-height: 50%;
            
        }
    }

    &__pic{
        max-width: 50%;
        max-height: 50%;
    }
}