@use '../custom' as *;

.display-2 {
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;

    

    &--intros {
        display: inline-block;
        font-weight: 700;
        color: $secondary;
        font-family: 'Poppins', sans-serif;
    }

    &--description {
        font-size: 1rem;
        display: block;
        margin-top: 1.2rem;
        color: white;
        text-transform: none;
    }
}
.about-section{
    font-family: 'Poppins', sans-serif;
    color: $primary;

    p{
        font-size: 1.02rem;
    }

}

.skills-section{
    font-family: 'Poppins', sans-serif;

    .display-8{
        font-family: 'Poppins', sans-serif;
    
    
        &--title{
            font-size: 1.8rem;
            font-weight: 600;
            font-family: 'Poppins', sans-serif;
            text-transform: capitalize;
            display: inline-block;

         }
    }  

}
.header{
    font-family: 'Poppins', sans-serif;
    color: $secondary;

    &__description{
        font-size: 1.02rem;
    }

}