@use '../custom' as *;

// INTRO SECTION 
.display-2 {
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;

    

    &--intros {
        display: inline-block;
        font-weight: 700;
        color: $secondary;
        font-family: 'Poppins', sans-serif;
    }

    &--description {
        font-size: 1rem;
        display: block;
        margin-top: 1.2rem;
        color: white;
        text-transform: none;
    }
}

// ABOUT SECTION 
.about-section{
    font-family: 'Poppins', sans-serif;
    color: $primary;
    p{
        font-size: 1.12rem;
        color: $primary;
    }
}

// SKILLS SECTION  
.skills-section{
    font-family: 'Poppins', sans-serif;
    color: $primary;

    li{
        color: $primary;
        font-size: 1.12rem;
    }
}
.display-8{
    font-family: 'Poppins', sans-serif;
    color: $primary;
    
    &__title{
        color: $primary;
        font-size: 1.3rem;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        text-decoration: underline;
    }
} 

// PROJECT SECTION 
.header{
    font-family: 'Poppins', sans-serif;
    color: $primary;

    &__description{
        color: $secondary;
        font-size: 1.12rem;
    }
    &__title{
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        color: $primary;
        font-size: 1.3rem;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        text-decoration: underline;
    }
    p{
        margin-left: 0.5rem;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem; 
        color: $primary;  
    }
}
// ARTICLE SECTION
.heading{
    font-family:'Poppins', sans-serif;
    color: $primary;

    &__description{
        color: $primary;
        font-size: 1.12rem;
    }
    &__title{
        color: $secondary;
        font-size: 1.13rem;
        font-family: 'Poppins', sans-serif;
        
        a{
            color: $secondary;
            font-size: 1.14rem;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
        }

    }
    .accordion-body{
        font-family: 'Poppins', sans-serif;
        font-size: 1rem; 
        color: $primary;  
        text-align: justify;
    }
}

// CONNECT SECTION
.connect{
    font-family:'Poppins', sans-serif;
    color: $primary;

    &__description{
        font-family:'Poppins', sans-serif;
        color: $primary;
        font-size: 1.12rem;
    }
    &__title{
        color: $primary;
        font-size: 1.12rem;
    }

}
.submit{
    font-family:'Poppins', sans-serif;
    color: $secondary;
    font-size: 1.12rem;
}